<!doctype html>
<html>
    <head>
        <script src="angular.min.js"></script>
        <script src="script_events.js"></script>
    </head>
    <body ng-app="myModule">
        <div ng-controller="myController">
            <input type="text" ng-model="message"/>
            <br/><br/>
            {{ message }}
            <table border="1">
                <tr>
                    <th>Technology</th>
                    <th>Likes</th>
                    <th>Disikes</th>
                    <th>Like/Dislike</th>
                </tr>
                <tr ng-repeat="tech in technologies">
                    <td>{{ tech.name }} </td>
                    <td>{{ tech.likes }} </td>
                    <td>{{ tech.dislikes }} </td>
                    <td>
                        <input type="button" value="Like" ng-click="incrementlikes(tech)"/>
                        <input type="button" value="Dislike" ng-click="incrementdislikes(tech)"/>
                    </td>
                </tr>

            </table>
            <input type="text" ng-model="cx"/>
            <input type="button" value="Inc" ng-click="increment()"/>
        </div>
    </body>
</html>
